.logintext
{
color: #32075c;
font-size: 40px;
font-weight: 800;
padding-top: 10%;
padding-bottom: 30px;
}

.logininput
{
    background-color: #32075cd0;
    border-color: transparent;
    border-radius: 10px;
    margin-bottom: 30px;
}

.loginbtn
{
    background-color: #32075c;
    color:#fff;
    border-color: transparent;
    border-radius: 10px;
    font-weight: 500;
    margin-bottom: 40px;
    width: 90px;
}

.body
{
    background-color: #32075c;
}

.loginbg
{
    background-color: rgb(233, 236, 252);
    width: 50%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px 0px;
}